.brandLogo {
  line-height: 0;
}

// 漢堡
.openbtn {
  display: inline-block;
  background: none;
  border: none;
  line-height: 0;
  cursor: pointer;
  @include pad() {
    display: none;
  }
}
// mobile menu
.sidepanel  {
  width: 0;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: 0.2s;
  z-index: 2;
  a {
      overflow:hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
  }
}
.closebtn {
  line-height: 0;
  .material-icons {
    color: $secondary;
  }         
}
.list-unstyled {
  cursor: pointer;
  a {
    color: $secondary;
    &:hover {
      color: $primary;
    }
  }
}