<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%- title %></title>
    <!-- CSS -->
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;700;800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.min.css">
    <link rel="stylesheet" href="./assets/style/all.css">
    <!-- JS -->
    <script src="https://unpkg.com/swiper/js/swiper.min.js"></script>
  </head>

  <body>
    <header>
      <div class="container d-flex flex-nowrap justify-content-between align-items-center">
        <!-- 漢堡 -->
        <button class="openbtn p-0" onclick="openNav()">
          <span class="material-icons">dehaze</span>
        </button>
        <!-- mobile menu -->
        <div id="mySidepanel" class="sidepanel position-fixed vh-100 bg-white">
          <div class="container">
            <div class="w-100 d-flex flex-wrap justify-content-between align-items-center">
              <a href="javascript:void(0)" class="closebtn d-block py-3" onclick="closeNav()">
                <span class="material-icons">close</span>
              </a>
              <ul class="list-unstyled w-100 text-left m-0 p-0">
                <li>
                  <a href="#">Accommodation</a>
                </li>
                <li>
                  <a href="#">Air tickets</a>
                </li>
                <li>
                  <a href="#">Rent a car</a>
                </li>
                <li>
                  <a href="#">Sights</a>
                </li>
                <li>
                  <a href="#">Airport taxi</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <h1 class="brandLogo d-inline-block flex-fill my-3 my-md-4 text-center text-md-left">
          <a href="index.html" class="">
            <img src="./assets/images/logo-aloha.svg" alt="Logo">
          </a>
        </h1>
        <div class="dropdown d-none d-md-block">
          <a class="dropdown-toggle iconToggle mr-7" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="material-icons text-black iconToggle__icon mr-0">language</span>
          </a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Taiwan</a>
            <a class="dropdown-item" href="#">United States</a>
            <a class="dropdown-item" href="#">European Union</a>
          </div>
        </div>
        <a href="#" class="text-dark text-hover mr-7 d-none d-md-block">Sign up</a>
        <a href="#" class="text-dark text-hover">Login</a>
      </div>
    </header>

    <%- contents %>

    <footer>
      <section>
        <div class="footerBottom container text-info d-flex flex-wrap flex-md-nowrap flex-column-reverse flex-md-row justify-content-between align-items-center">
          <p class="footerCopy mb-0 text-center text-md-left">© 2020 ALOHA, Inc. All rights reserved.</p>
          <ul class="footerMenu d-flex flex-fill justify-content-center justify-content-md-end justify-content-lg-start m-0 p-0 mb-3 mb-md-0 list-unstyled">
            <li class="mr-4">FAQs</li>
            <li class="mr-4">Terms of use</li>
            <li>Privacy policy</li>
          </ul>
          <div class="d-none d-lg-block">
            <div class="dropdown d-none d-md-inline-block py-2">
              <a class="dropdown-toggle iconToggle mr-4" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="material-icons iconToggle__icon text-black">language</span>
                <span>English</span>
              </a>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">繁體中文</a>
                <a class="dropdown-item" href="#">DEUTSCH</a>
                <a class="dropdown-item" href="#">日本語</a>
              </div>
            </div>
            <div class="dropdown d-none d-md-inline-block py-2">
              <a class="dropdown-toggle iconToggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="material-icons iconToggle__icon text-black mr-2">attach_money</span>
                <span>TWD</span>
              </a>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">TWD</a>
                <a class="dropdown-item" href="#">USD</a>
                <a class="dropdown-item" href="#">EUR</a>
              </div>
            </div>
          </div>
        </div>
      </section>
    </footer>

    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
  </body>

</html>