.simpleRoomCard__img {
  position: relative;
  width: 240px;
  height: 164px;
  overflow: hidden;
  @include pad() {
    width: 270px;
    height: 185px;
  }
  @include largePad() {
    width: 255px;
    height: 175px;
  }
  img {
    position: absolute;
    width: 100% !important;
    height: 100%;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    object-fit: cover;
  }
}

.roomCard {
  border-bottom: none;
  @include pad() {
    border-bottom: 1px solid $bg-light;
  }
}
.roomCard__img {
  position: relative;
  width: 150px;
  height: 150px;
  overflow: hidden;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  @include largePad() {
    width: 255px;
    height: 175px;
    border-top-left-radius: .5rem;
    border-bottom-left-radius: .5rem;
  }
  img {
    position: absolute;
    width: 100% !important;
    height: 100%;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    object-fit: cover;
  }
}